
.bar1{
    display: flex  ;
    width: 800px;
    height: 60px;
    border: 2px solid yellow;
    background-color: #fff2cc;
    justify-content: space-between;
    align-items: center;
}

.logo
{
    padding-left: 10px;
}
.info{
    display: flex;
    
}

.about,
.home,
.contact{
    border: 1px solid black;
    padding: 4px 12px;
}

.border-home{
    border-left: none;
    border-right: none;
}