*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.circle{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #9d8a00;
    border: 1px solid yellow;
}

.bar{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    border: 1px solid #000;
    height: 50px;
    padding: 0 20px;
    margin: 0 20px;
    background-color: #b3b3b3;
}

.title{
    display: flex;
    align-items: center;
    
}

.circle{
    margin-right: 15px;
}

.film-homepage
{
    font-weight: bold;
    font-size: 18px;
}

.theater-info{
    display: flex;
    padding: 0 20px 0 0;
}

.info{
    margin-right: 30px;
}

.about-film{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
   
}

.film{
    width: 45%;
    margin-left: 40px;
}

.film-img{
    width: 100%;
    height: 265px;
    margin-bottom: 5px;
    object-fit: cover;
}

.film-button{
    display: flex;
    flex-direction: row;
}

.share
{
    height: 35px;
    width:20%;
    background-color: #f7cecc;
    border: 1px solid violet;
    border-radius: 4px;
    margin-right: 15px;
}

.download{
    width: 20%;
    background-color: #e3c800;
    border: 1px solid yellow;
    border-radius: 4px;
    margin-right: 15px;
}

.watch{
    width: 70%;
    background-color: #1ba0e1;
    border: 1px solid cyan;
    border-radius: 3px;
    color: #fff;
}

.film-info{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.film-title{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bold;
}

.film-sub-title{
    margin-bottom: 15px;
}

.film-length{
    margin-bottom: 15px;
}

.rating{
    color: yellow;
    margin-bottom: 15px;
    font-size: 20px;
}

.category{
    display: flex;
    margin-bottom: 50px;
}

.war,
.drama{
    border: 1px solid #000;
    border-radius: 3px;
    width: 110px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.director{
    display: flex;
    margin-bottom: 15px;
}

.director-title{
    font-weight: bold;
    margin-right: 35px;
}

.country{
    display: flex;
    margin-bottom: 15px;
}

.country-title
{
    font-weight: bold;
    margin-right: 35px;
}

.time-start{
    display: flex;
    margin-bottom: 15px;
}

.time-start-title{
    font-weight: bold;
    margin-right: 20px;
}

.director-name,
.country-name,
.time-start-date{
    color: blue;
}

.film-des
{
    margin-top: 30px;
    margin-left: 40px;
}

.des-title{
    margin-bottom: 10px;
    font-weight: bold;
}

.des{
    border: 1px solid #000;
    margin-right: 50px;
    padding: 15px 10px;
}

.actor-list{
    margin-top: 30px;
    margin-left: 40px;
    font-weight: bold;
}

.actor{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.actor1{
    align-content: center;
    margin-right: 35px;
}

.avatar{
    width: 110px;
}

.actor-name{
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
   
}