.circle
{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #e1d5e7;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff2cc;
    border: 1px solid yellow;
    width: 100%;
    height: 45px;
}

.shop-title{
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-weight: bold;
}

.myshop{
    font-size: 17px;
    margin-left: 10px ;
}

.navbar-content{
    display: flex;
    padding-right: 20px;
}

.shop-info{
    padding: 0 25px;
    font-size: 17px;
}

.selected-shopinfo{
    border: 1px solid cyan;
    border-radius: 5px;
    background-color: #dae8fc;
    
}

.web-content{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

.categories{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid #000;
    width: 190px;
    height: 230px;
}

.categories-title{
    margin-left: 10px;
}

.cata1{
    margin-left: 10px;
    
}

.cata-icon{
    margin-right: 5px;
}

.sort-order{
    display: flex;
}

.showmore{
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: #b0e3e6;
    border: 1px solid cyan;
    width: 100px;
    height: 30px;
    margin-left: 33px;  
    
}

.item-list{
    margin-left: 20px;
    width: 100%;
    margin-right: 25px;
}

.search-item{
    width: 100%;
    border: 1px solid #000;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.keyword{
    position: relative;
    margin-left: 5px;
    width: 300px;
    border-radius: 3px;
    height: 30px;
}

.search-icon{
    position: absolute;
    margin-left: -22px;
    margin-top: 9px;
}

.sort-order{
    margin-right: 30px;
}

.sort{
    margin-right: 10px;
}

.sort-item{
    width: 100px;
    height: 30px;
    border-radius: 3px;
}

.order-item{
    width: 100px;
    height: 30px;
    border-radius: 3px;
}

.item{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img-product{
    width: 265px;
    height: 265px;
}

.product-name{
    margin: 10px 0;
    color: blue;
}

.price-discount{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: red;
}

.page
{
    display: flex;
    margin-left: 202px;
    margin-bottom: 20px;
}

.pag1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    border-radius: 2px;
}

.selected-page{
    opacity: 0.5;
}

.footer{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    border: 1px solid yellow;
    background-color: #fff2cc;
    width: 100%;
    height: 70px;
}

.footer-title
{
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.addressandphone{
    display: flex;
    margin-left: 20px;
    margin-bottom: 20px;
}

.address{
    margin-right: 60px;
}